@page "/Students/details/{id:int}"
@inject StudentService Data

<h3>@_student.Id</h3>
<p>
    id: <strong>@_student.Id</strong><br />
    Firstname: <strong>@_student.Firstname</strong><br />
    Lastname: <strong>@_student.Lastname</strong>
    Course: <strong>@_student.CourseName</strong>
</p>

<a class="btn btn-primary" href="/">Go to list</a>


@code {

    [Parameter]
    public int Id { get; set; }

    private Student? _student;

    protected override async Task OnInitializedAsync()
    {
        _student = await Data.GetStudentAsync(Id);
    }
}

